{% extends "layout.html" %}
{% block title %}{{ t('uzivatele.show_qr') }}{% endblock %}
{% block content %}
<h1>{{ t('uzivatele.show_qr') }}</h1>
<p>
  <span class="mono">{{ jmeno }}</span>
  &middot;
  <span class="mono">{{ stitek }}</span>
</p>

{% if obrazec %}
<pre class="qr">{{ obrazec }}</pre>
<p class="poznamka">{{ t('uzivatele.qr_note') }}</p>
{% elif sparovano %}
<p>{{ t('spravci.paired') }}</p>
{% else %}
<p>{{ t('uzivatele.no_credential') }}</p>
{% endif %}

<p><a href="{{ zpet }}">{{ t('spolecne.back') }}</a></p>
{% endblock %}
